<div class="card">
    <!-- <img src="./assets/images/KyC.jpeg" class="card-img-top" alt="..."> -->
    <div class="card-body">
      <p class="card-title">{{ work.title != null ? work.title[0] : 'TITLE NOT FOUND' }} </p>
      <p class="card-text">Publisher: {{ work.publisher != null ? work.publisher : 'PUBLISHER NOT FOUND' }} </p>
      <p class="card-text">Type: {{ work.type != null ? work.type : 'TYPE NOT FOUND' }} </p>
      <p class="card-text">Number of pages: {{ work.page != null ? work.page : 'PAGES NOT FOUND' }} </p>
      <!-- Button trigger modal -->
      <button type="button" (click)="onShowDetail()" class="btn btn-primary">
        See more info.
      </button>
    </div>
</div>