.articles-grid{
    display: flex;
    flex-direction: column;
}

//Tablest Screen
@media screen and (min-width: 40em) and (max-width: 63.9em){
    .articles-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 15px;
    }
}

//Web Screen
@media screen and (min-width:64em) {
    .articles-grid{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 15px;
    }
}