<div class="card">
    <div class="card-header">
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
    </div>
    <div class="card-body">
        <h2 class="card-title">
            {{ work.title[0] != null ? work.title[0] : 'TITLE NOT FOUND' }}
        </h2>
        <div class="abstract">
            <p class="card-text">{{ work.abstract != null ? work.abstract : 'ABSTRACT NOT FOUND' }}</p>
            <p class="card-text">Number of pages: {{ work.page != null ? work.page : 'PAGES NOT FOUND' }}</p>
        </div>
        <p>
            Publisher: {{ work.publisher != null ? work.publisher : 'PUBLISHER NOT FOUND' }}
        </p>
        <p>Subject(s)</p>
        <ul>
            <li *ngFor="let subject of work.subject"> {{ subject }} </li>
        </ul>
        <a [href]="work.URL" class="btn btn-primary"> Work page</a>
    </div>
    <div class="card-footer text-muted">
        <p>
            {{ work.created != null ? work.created.date_time : 'DATE NOT FOUND' }}
        </p> 
      </div>
</div>
