<div class="show-mobile">
    <div>
        <button (click)="toggleMenu()" >
            <img src="./assets/svg/icon_menu.svg" alt="">
        </button>
        <a href="">
            <img width="35px" src="./assets/svg/article_icon.svg" alt="">
        </a>
        <a href="">
            <img width="35px" src="./assets/svg/info_article.svg" alt="">
        </a>
        <div class="side-menu" [class.active]="activeMenu" >
            <button (click)="toggleMenu()" >
                <img src="./assets/svg/close_icon.svg" alt="">
                {{ counter }}
            </button>
            <ul>
                <li><a href="">All</a></li>
                <li><a href="">Top 5</a></li>
                <li><a href="">Main Page</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="hide-mobile">
    <div>
        <nav>
            <a href="" class="logo">
                <img width="10%" src="./assets/svg/article_icon.svg" alt="">
            </a>
            <ul>
                <li><a href="">All</a></li>
                <li><a href="">Top 5</a></li>
                <li><a href="">Main Page</a></li>
            </ul>
        </nav>
        <div class="info">
            <div class="account">article@page.com</div>
            <div>
                <a href="">
                    <img width="20%" src="./assets/svg/info_article.svg" alt="">
                </a>
                <span class="counter"> {{ counter }} </span>
            </div>
        </div>
    </div>
</div>